{{define "index/modal" }}
    <div class="ui basic modal">
        <div class="ui icon header">
            <i class="archive icon"></i>
            是否删除信息
        </div>
        <div class="content">
            <p>删除信息后,不能恢复, 确认删除?</p>
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                取消
            </div>
            <div class="ui green ok inverted button">
                <i class="checkmark icon"></i>
                确认
            </div>
        </div>
    </div>
{{end}}